Repository mkb79/audible-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, check-toml, check-yaml, ruff-check

ruff-format:
  name: ruff format
  entry: ruff format
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ruff-check:
  name: ruff check
  entry: ruff check
  language: system
  require_serial: true

fix: handle missing and null fields in API responses (#270)
  CHANGELOG.md
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/exceptions.py
  src/audible_cli/models.py
Due: ruff-format, ruff-check

fix: pass config path to click.edit as a string
  CHANGELOG.md
  src/audible_cli/cmds/cmd_manage.py
  tests/test_cmd_manage.py
Due: ruff-format, ruff-check

fix: pass config path to click.edit as a string (#269)
  CHANGELOG.md
  src/audible_cli/cmds/cmd_manage.py
  tests/test_cmd_manage.py
Due: ruff-format, ruff-check

fix: stop the download queue from deadlocking after failed jobs
  CHANGELOG.md
  src/audible_cli/cmds/cmd_download.py
Due: ruff-format, ruff-check

fix: stop the download queue from deadlocking after failed jobs (#271)
  CHANGELOG.md
  src/audible_cli/cmds/cmd_download.py
Due: ruff-format, ruff-check

Release version 0.5.0.
  CHANGELOG.md
  pyproject.toml
  src/audible_cli/_version.py
  uv.lock
Due: ruff-format, check-toml, ruff-check

ci: name releases after the tag, not the full ref
  .github/workflows/build.yml
Due: check-yaml

fix: accept a str filename in build_auth_file
  CHANGELOG.md
  src/audible_cli/utils.py
Due: ruff-format, ruff-check

ci: move all actions off the deprecated Node 20 runtime
  .github/workflows/build.yml
  .github/workflows/pypi-publish-test.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/uv-lock-maintenance.yml
Due: check-yaml

ci: move all actions off the deprecated Node 20 runtime (#274)
  .github/workflows/build.yml
  .github/workflows/pypi-publish-test.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/uv-lock-maintenance.yml
Due: check-yaml

ci: name releases after the tag, not the full ref (#272)
  .github/workflows/build.yml
Due: check-yaml

fix: accept a str filename in build_auth_file (#273)
  CHANGELOG.md
  src/audible_cli/utils.py
Due: ruff-format, ruff-check

ci: skip the lock workflow for Dependabot pull requests
  .github/workflows/uv-lock-maintenance.yml
Due: check-yaml

ci: skip the lock workflow for Dependabot pull requests (#276)
  .github/workflows/uv-lock-maintenance.yml
Due: check-yaml

ci: harden the release workflow
  .github/workflows/build.yml
Due: check-yaml

ci: drop unsupported and dead Dependabot configuration
  .github/dependabot.yml
Due: check-yaml

ci: drop unsupported and dead Dependabot configuration (#278)
  .github/dependabot.yml
Due: check-yaml

ci: harden the release workflow (#277)
  .github/workflows/build.yml
Due: check-yaml

test: run the suite in CI and cover the 0.5.0 fixes
  .github/workflows/tests.yml
  pyproject.toml
  test.py
  tests/conftest.py
  tests/helpers.py
  tests/test_download_cli.py
  tests/test_download_queue.py
  tests/test_exceptions.py
  tests/test_models_dates.py
  tests/test_utils_datetime.py
  uv.lock
Due: ruff-format, check-toml, check-yaml, ruff-check

test: run the suite in CI and cover the 0.5.0 fixes (#280)
  .github/workflows/tests.yml
  pyproject.toml
  test.py
  tests/conftest.py
  tests/helpers.py
  tests/test_download_cli.py
  tests/test_download_queue.py
  tests/test_exceptions.py
  tests/test_models_dates.py
  tests/test_utils_datetime.py
  uv.lock
Due: ruff-format, check-toml, check-yaml, ruff-check

ci: gate Ruff with a baseline of the existing findings
  .github/workflows/tests.yml
  pyproject.toml
  tests/test_download_cli.py
  tests/test_download_queue.py
  tests/test_models_dates.py
  uv.lock
Due: ruff-format, check-toml, check-yaml, ruff-check

ci: gate Ruff with a baseline of the existing findings (#281)
  .github/workflows/tests.yml
  pyproject.toml
  tests/test_download_cli.py
  tests/test_download_queue.py
  tests/test_models_dates.py
  uv.lock
Due: ruff-format, check-toml, check-yaml, ruff-check

style: apply Ruff's safe autofixes
  docs/source/conf.py
  plugin_cmds/cmd_decrypt.py
  plugin_cmds/cmd_get-annotations.py
  plugin_cmds/cmd_goodreads-transform.py
  plugin_cmds/cmd_image-urls.py
  plugin_cmds/cmd_listening-stats.py
  plugin_cmds/convert_oa_cred.py
  pyi_entrypoint.py
  pyproject.toml
  src/audible_cli/__init__.py
  src/audible_cli/__main__.py
  src/audible_cli/_logging.py
  src/audible_cli/cli.py
  src/audible_cli/cmds/__init__.py
  src/audible_cli/cmds/cmd_activation_bytes.py
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/cmds/cmd_library.py
  src/audible_cli/cmds/cmd_manage.py
  src/audible_cli/cmds/cmd_quickstart.py
  src/audible_cli/cmds/cmd_wishlist.py
  src/audible_cli/config.py
  src/audible_cli/constants.py
  src/audible_cli/decorators.py
  src/audible_cli/downloader.py
  src/audible_cli/exceptions.py
  src/audible_cli/models.py
  src/audible_cli/plugins.py
  src/audible_cli/utils.py
  utils/update_chapter_titles.py
Due: ruff-format, check-toml, ruff-check

style: apply Ruff's safe autofixes (#282)
  docs/source/conf.py
  plugin_cmds/cmd_decrypt.py
  plugin_cmds/cmd_get-annotations.py
  plugin_cmds/cmd_goodreads-transform.py
  plugin_cmds/cmd_image-urls.py
  plugin_cmds/cmd_listening-stats.py
  plugin_cmds/convert_oa_cred.py
  pyi_entrypoint.py
  pyproject.toml
  src/audible_cli/__init__.py
  src/audible_cli/__main__.py
  src/audible_cli/_logging.py
  src/audible_cli/cli.py
  src/audible_cli/cmds/__init__.py
  src/audible_cli/cmds/cmd_activation_bytes.py
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/cmds/cmd_library.py
  src/audible_cli/cmds/cmd_manage.py
  src/audible_cli/cmds/cmd_quickstart.py
  src/audible_cli/cmds/cmd_wishlist.py
  src/audible_cli/config.py
  src/audible_cli/constants.py
  src/audible_cli/decorators.py
  src/audible_cli/downloader.py
  src/audible_cli/exceptions.py
  src/audible_cli/models.py
  src/audible_cli/plugins.py
  src/audible_cli/utils.py
  utils/update_chapter_titles.py
Due: ruff-format, check-toml, ruff-check

style: apply Ruff's remaining automatic fixes
  plugin_cmds/cmd_decrypt.py
  plugin_cmds/cmd_goodreads-transform.py
  plugin_cmds/cmd_image-urls.py
  plugin_cmds/cmd_listening-stats.py
  plugin_cmds/convert_oa_cred.py
  pyproject.toml
  src/audible_cli/_logging.py
  src/audible_cli/cli.py
  src/audible_cli/cmds/cmd_api.py
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/cmds/cmd_library.py
  src/audible_cli/cmds/cmd_manage.py
  src/audible_cli/cmds/cmd_quickstart.py
  src/audible_cli/cmds/cmd_wishlist.py
  src/audible_cli/config.py
  src/audible_cli/decorators.py
  src/audible_cli/exceptions.py
  src/audible_cli/models.py
  src/audible_cli/plugins.py
  utils/update_chapter_titles.py
Due: ruff-format, check-toml, ruff-check

style: apply Ruff's remaining automatic fixes (#283)
  plugin_cmds/cmd_decrypt.py
  plugin_cmds/cmd_goodreads-transform.py
  plugin_cmds/cmd_image-urls.py
  plugin_cmds/cmd_listening-stats.py
  plugin_cmds/convert_oa_cred.py
  pyproject.toml
  src/audible_cli/_logging.py
  src/audible_cli/cli.py
  src/audible_cli/cmds/cmd_api.py
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/cmds/cmd_library.py
  src/audible_cli/cmds/cmd_manage.py
  src/audible_cli/cmds/cmd_quickstart.py
  src/audible_cli/cmds/cmd_wishlist.py
  src/audible_cli/config.py
  src/audible_cli/decorators.py
  src/audible_cli/exceptions.py
  src/audible_cli/models.py
  src/audible_cli/plugins.py
  utils/update_chapter_titles.py
Due: ruff-format, check-toml, ruff-check

refactor: let logging do its own formatting
  plugin_cmds/cmd_goodreads-transform.py
  pyproject.toml
  src/audible_cli/_logging.py
  src/audible_cli/cmds/cmd_api.py
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/cmds/cmd_wishlist.py
  src/audible_cli/config.py
  src/audible_cli/downloader.py
  src/audible_cli/models.py
  src/audible_cli/utils.py
Due: ruff-format, check-toml, ruff-check

refactor: let logging do its own formatting (#285)
  plugin_cmds/cmd_goodreads-transform.py
  pyproject.toml
  src/audible_cli/_logging.py
  src/audible_cli/cmds/cmd_api.py
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/cmds/cmd_wishlist.py
  src/audible_cli/config.py
  src/audible_cli/downloader.py
  src/audible_cli/models.py
  src/audible_cli/utils.py
Due: ruff-format, check-toml, ruff-check

fix: make the convert-oa-file plugin work again
  CHANGELOG.md
  plugin_cmds/convert_oa_cred.py
Due: ruff-format, ruff-check

fix: make the convert-oa-file plugin work again (#286)
  CHANGELOG.md
  plugin_cmds/convert_oa_cred.py
Due: ruff-format, ruff-check

style: clear the harmless Ruff findings
  docs/source/conf.py
  plugin_cmds/convert_oa_cred.py
  pyproject.toml
  src/audible_cli/_logging.py
  src/audible_cli/cmds/__init__.py
  src/audible_cli/config.py
  src/audible_cli/decorators.py
  src/audible_cli/models.py
  src/audible_cli/plugins.py
  src/audible_cli/utils.py
  utils/update_chapter_titles.py
Due: ruff-format, check-toml, ruff-check

style: clear the harmless Ruff findings (#287)
  docs/source/conf.py
  plugin_cmds/convert_oa_cred.py
  pyproject.toml
  src/audible_cli/_logging.py
  src/audible_cli/cmds/__init__.py
  src/audible_cli/config.py
  src/audible_cli/decorators.py
  src/audible_cli/models.py
  src/audible_cli/plugins.py
  src/audible_cli/utils.py
  utils/update_chapter_titles.py
Due: ruff-format, check-toml, ruff-check

ci: say which index each publish workflow targets
  .github/workflows/pypi-publish-test.yml
  .github/workflows/pypi-publish.yml
Due: check-yaml

ci: say which index each publish workflow targets (#288)
  .github/workflows/pypi-publish-test.yml
  .github/workflows/pypi-publish.yml
Due: check-yaml

refactor: make the error and input contracts explicit
  pyproject.toml
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/config.py
  src/audible_cli/decorators.py
  src/audible_cli/models.py
  tests/test_models_arguments.py
  tests/test_reuse_voucher.py
  utils/update_chapter_titles.py
Due: ruff-format, check-toml, ruff-check

refactor: make the error and input contracts explicit (#289)
  pyproject.toml
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/config.py
  src/audible_cli/decorators.py
  src/audible_cli/models.py
  tests/test_models_arguments.py
  tests/test_reuse_voucher.py
  utils/update_chapter_titles.py
Due: ruff-format, check-toml, ruff-check

refactor: name the CLI-only quality values as such
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/constants.py
  src/audible_cli/models.py
  tests/test_models_arguments.py
Due: ruff-format, ruff-check

refactor: name the CLI-only quality values as such (#290)
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/constants.py
  src/audible_cli/models.py
  tests/test_models_arguments.py
Due: ruff-format, ruff-check

fix: verify the size of a finished download
  CHANGELOG.md
  src/audible_cli/downloader.py
  tests/test_download_size_check.py
Due: ruff-format, ruff-check

fix: verify the size of a finished download (#291)
  CHANGELOG.md
  src/audible_cli/downloader.py
  tests/test_download_size_check.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff-check: any of: \.py$
