Repository mkb79/audible-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, check-toml, check-yaml, ruff-check

ruff-format:
  name: ruff format
  entry: ruff format
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ruff-check:
  name: ruff check
  entry: ruff check
  language: system
  require_serial: true

docs: note the --version fix in the changelog
  CHANGELOG.md
Due: none

fix: let `--version` answer even when the update check fails (#309)
  CHANGELOG.md
  src/audible_cli/decorators.py
  tests/test_version_option.py
Due: ruff-format, ruff-check

fix: settle `--version` after taking master in
  src/audible_cli/decorators.py
  tests/test_version_option.py
Due: ruff-format, ruff-check

docs: say what `--log-file` does not record
  README.md
Due: none

fix: send diagnostics to stderr, and keep stdout for what a command produces (#306)
  CHANGELOG.md
  README.md
  plugin_cmds/cmd_decrypt.py
  plugin_cmds/cmd_get-annotations.py
  plugin_cmds/convert_oa_cred.py
  pyproject.toml
  src/audible_cli/_dialog.py
  src/audible_cli/_logging.py
  src/audible_cli/cli.py
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/cmds/cmd_manage.py
  src/audible_cli/cmds/cmd_quickstart.py
  src/audible_cli/cmds/cmd_wishlist.py
  src/audible_cli/config.py
  src/audible_cli/decorators.py
  src/audible_cli/plugins.py
  src/audible_cli/utils.py
  tests/conftest.py
  tests/test_cmd_manage.py
  tests/test_logging.py
  tests/test_output_channels.py
  tests/test_progress.py
  tests/test_version_option.py
  utils/update_chapter_titles.py
  uv.lock
Due: ruff-format, check-toml, ruff-check

fix: keep every part of an api request the caller wrote
  src/audible_cli/cmds/cmd_api.py
Due: ruff-format, ruff-check

test: cover the api command
  tests/test_cmd_api.py
Due: ruff-format, ruff-check

docs: describe how the api command is called
  CHANGELOG.md
  README.md
Due: none

docs: name the pull request in the changelog
  CHANGELOG.md
Due: none

style: run the formatter over the new test file
  tests/test_cmd_api.py
Due: ruff-format, ruff-check

style: run the formatter over cmd_api.py
  pyproject.toml
  src/audible_cli/cmds/cmd_api.py
Due: ruff-format, check-toml, ruff-check

refactor: annotate cmd_api.py
  src/audible_cli/cmds/cmd_api.py
Due: ruff-format, ruff-check

refactor: share the query and header types between the commands
  src/audible_cli/_params.py
  src/audible_cli/cmds/cmd_api.py
Due: ruff-format, ruff-check

feat: add `audible request`, for what the api command is not
  src/audible_cli/cmds/__init__.py
  src/audible_cli/cmds/cmd_request.py
  src/audible_cli/constants.py
Due: ruff-format, ruff-check

test: cover the request command
  tests/test_cmd_request.py
Due: ruff-format, ruff-check

docs: describe the request command
  CHANGELOG.md
  README.md
Due: none

fix: ask whether a new auth file should have a password
  src/audible_cli/cmds/cmd_manage.py
Due: ruff-format, ruff-check

feat: tell an auth file from anything else, and rewrite one safely
  src/audible_cli/cmds/cmd_manage.py
  src/audible_cli/utils.py
Due: ruff-format, ruff-check

feat: encrypt and decrypt an auth file after the fact
  src/audible_cli/cmds/cmd_manage.py
Due: ruff-format, ruff-check

fix: stop asking an external login about an audible account
  src/audible_cli/cmds/cmd_manage.py
Due: ruff-format, ruff-check

test: cover the commands that work on an auth file
  tests/test_cmd_manage.py
Due: ruff-format, ruff-check

docs: name the auth file changes in the changelog
  CHANGELOG.md
Due: none

feat: ask encrypt and decrypt for whatever is missing
  CHANGELOG.md
  src/audible_cli/cmds/cmd_manage.py
  tests/test_cmd_manage.py
Due: ruff-format, ruff-check

docs: give decrypt a line of its own in the changelog
  CHANGELOG.md
Due: none

fix: recognise an auth file by what actually has to be there
  CHANGELOG.md
  src/audible_cli/cmds/cmd_manage.py
  src/audible_cli/utils.py
  tests/test_cmd_manage.py
Due: ruff-format, ruff-check

refactor: encrypt and decrypt the file, not the account behind it
  src/audible_cli/cmds/cmd_manage.py
  src/audible_cli/utils.py
  tests/test_cmd_manage.py
Due: ruff-format, ruff-check

feat: encrypt and decrypt an auth file after it was written (#315)
  CHANGELOG.md
  src/audible_cli/cmds/cmd_manage.py
  src/audible_cli/utils.py
  tests/test_cmd_manage.py
Due: ruff-format, ruff-check

fix: take every parent podcast out of the library, not every second one (#305)
  CHANGELOG.md
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/models.py
  tests/test_resolve_podcasts.py
Due: ruff-format, ruff-check

Release version 0.6.0.
  CHANGELOG.md
  pyproject.toml
  src/audible_cli/_version.py
  uv.lock
Due: ruff-format, check-toml, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff-check: any of: \.py$
