Repository mkb79/audible-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, check-toml, check-yaml, ruff-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: ruff-check
        name: ruff check
        entry: ruff check
        language: system
        types: [python]
        require_serial: true
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.7.6
    hooks:
      - id: uv-lock

Update src/audible_cli/models.py
  src/audible_cli/models.py
Due: ruff-format, ruff-check

Change error handling in filename decoding to use "replace" instead of "ignore".
  src/audible_cli/models.py
Due: ruff-format, ruff-check

Add filename length option to improve truncation control
  src/audible_cli/cmds/cmd_download.py
Due: ruff-format, ruff-check

Include `filename_length` in download queue parameters
  src/audible_cli/cmds/cmd_download.py
Due: ruff-format, ruff-check

Update CHANGELOG with new features and changes
  CHANGELOG.md
Due: none

limited base filename to 230 bytes to be able to download audiobooks with long filenames. (#216)
  CHANGELOG.md
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/models.py
Due: ruff-format, ruff-check

Release version 0.3.3.
  CHANGELOG.md
  pyproject.toml
  src/audible_cli/_version.py
Due: ruff-format, check-toml, ruff-check

Update README.md to include `--chapter-type Flat`
  README.md
Due: none

Update GitHub Actions to use new release action
  .github/workflows/build.yml
Due: check-yaml

Update GitHub Actions upload asset action version
  .github/workflows/build.yml
Due: check-yaml

Fix file parameter to files in build.yml workflow
  .github/workflows/build.yml
Due: check-yaml

Remove unnecessary outputs from build workflow
  .github/workflows/build.yml
Due: check-yaml

Rework gh action build (#232)
  .github/workflows/build.yml
Due: check-yaml

Update README.md to include `--chapter-type Flat` (#231)
  README.md
Due: none

Update `uvx` command in README
  README.md
Due: none

added logging for item download
  src/audible_cli/cmds/cmd_download.py
Due: ruff-format, ruff-check

added ASIN to log
  src/audible_cli/cmds/cmd_download.py
Due: ruff-format, ruff-check

Bump `uv.lock` revision to 3 and update `audible-cli` to version 0.3.3.
  uv.lock
Due: none

Refactor `cmd_download.py` with improved structure, added `DownloadOptions`, `DownloadJob`, and utilities for enhanced flexibility and reusability.
  src/audible_cli/cmds/cmd_download.py
Due: ruff-format, ruff-check

added log entry inside job
  src/audible_cli/cmds/cmd_download.py
Due: ruff-format, ruff-check

fixed bug
  src/audible_cli/cmds/cmd_download.py
Due: ruff-format, ruff-check

Fix reference to asin in processed_items check
  src/audible_cli/cmds/cmd_download.py
Due: ruff-format, ruff-check

added ASIN to log entry
  src/audible_cli/cmds/cmd_download.py
Due: ruff-format, ruff-check

improved logging (including of cancelling)
  src/audible_cli/cmds/cmd_download.py
Due: ruff-format, ruff-check

Enhance `cmd_download.py` to improve producer-consumer handling with `SmartQueue`, add robust exception tracking, and ensure compatibility with Python 3.10+.
  src/audible_cli/cmds/cmd_download.py
Due: ruff-format, ruff-check

Refactor `SmartQueue` usage in `cmd_download.py` by introducing a `run` method for streamlined task orchestration and cleanup.
  src/audible_cli/cmds/cmd_download.py
Due: ruff-format, ruff-check

Move `SmartQueue` class to `utils.py` for better code reuse and cleaner organization.
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/utils.py
Due: ruff-format, ruff-check

Add comprehensive debug logging to `cmd_download.py` for better tracing of download operations, including library fetching, job preparation, and individual file downloads.
  src/audible_cli/cmds/cmd_download.py
Due: ruff-format, ruff-check

Add `rich` dependency and update lockfile accordingly
  pyproject.toml
  uv.lock
Due: check-toml

Switch `cmd_download.py` and logging to use `rich` for improved output formatting and logging clarity.
  src/audible_cli/_logging.py
  src/audible_cli/cmds/cmd_download.py
Due: ruff-format, ruff-check

Switch `downloader.py` to `rich` progress bars for improved download visuals and detailed logging.
  src/audible_cli/downloader.py
  src/audible_cli/utils.py
Due: ruff-format, ruff-check

refactored logging to have consistent logging messages
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/models.py
Due: ruff-format, ruff-check

add db command
  pyproject.toml
  src/audible_cli/cmds/__init__.py
  src/audible_cli/cmds/cmd_db.py
  src/audible_cli/db/__init__.py
  src/audible_cli/db/async_db_library.py
  uv.lock
Due: ruff-format, check-toml, ruff-check

Move `@pass_session` decorator and support for state token across library DB commands.
  src/audible_cli/cmds/cmd_db.py
  src/audible_cli/db/async_db_library.py
Due: ruff-format, ruff-check

Add `count` command to library database operations
  src/audible_cli/cmds/cmd_db.py
Due: ruff-format, ruff-check

Add `sync` command to library database operations
  src/audible_cli/cmds/cmd_db.py
Due: ruff-format, ruff-check

Add support for HTTP/2, extended response groups, and `list-deleted` command
  src/audible_cli/cmds/cmd_db.py
  src/audible_cli/db/async_db_library.py
Due: ruff-format, ruff-check
