Repository mkb79/audible-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, check-toml, check-yaml, ruff-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: ruff-check
        name: ruff check
        entry: ruff check
        language: system
        types: [python]
        require_serial: true
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.7.6
    hooks:
      - id: uv-lock

Release version 0.5.1.
  CHANGELOG.md
  pyproject.toml
  src/audible_cli/_version.py
  uv.lock
Due: ruff-format, check-toml, ruff-check

ci: stop caching uv on the release build
  .github/workflows/build.yml
Due: check-yaml

ci: stop caching uv on the release build (#293)
  .github/workflows/build.yml
Due: check-yaml

ci: let the release build run without a tag
  .github/workflows/build.yml
Due: check-yaml

ci: let the release build run without a tag (#294)
  .github/workflows/build.yml
Due: check-yaml

ci: run each build before shipping it
  .github/workflows/build.yml
Due: check-yaml

ci: run each build before shipping it (#295)
  .github/workflows/build.yml
Due: check-yaml

build: name the architecture, and build for arm64
  .github/workflows/build.yml
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml

build: name the architecture, and build for arm64 (#296)
  .github/workflows/build.yml
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml

fix: accept the MP3 content type Audible sends for podcast episodes
  CHANGELOG.md
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/constants.py
  src/audible_cli/downloader.py
  tests/test_content_type_check.py
Due: ruff-format, ruff-check

fix: accept the MP3 content type Audible sends for podcast episodes (#297)
  CHANGELOG.md
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/constants.py
  src/audible_cli/downloader.py
  tests/test_content_type_check.py
Due: ruff-format, ruff-check

fix: say which job failed
  CHANGELOG.md
  src/audible_cli/cmds/cmd_download.py
  tests/test_download_queue.py
Due: ruff-format, ruff-check

fix: ask the CDE host again when a request gets no answer
  CHANGELOG.md
  src/audible_cli/models.py
  tests/test_cde_retry.py
Due: ruff-format, ruff-check

refactor: make the retry helper reusable, outside models
  CHANGELOG.md
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/models.py
  src/audible_cli/utils.py
  tests/test_cde_retry.py
Due: ruff-format, ruff-check

docs: shorten the unreleased changelog entries
  CHANGELOG.md
  src/audible_cli/utils.py
  tests/test_cde_retry.py
  tests/test_download_queue.py
Due: ruff-format, ruff-check

fix: repeat the plugin's CDE request too
  plugin_cmds/cmd_get-annotations.py
  src/audible_cli/constants.py
  src/audible_cli/models.py
  tests/test_cde_retry.py
Due: ruff-format, ruff-check

fix: survive a dropped connection to Audible's CDE host (#298)
  CHANGELOG.md
  plugin_cmds/cmd_get-annotations.py
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/constants.py
  src/audible_cli/models.py
  src/audible_cli/utils.py
  tests/test_cde_retry.py
  tests/test_download_queue.py
Due: ruff-format, ruff-check

fix: a missing cover size is a warning, not an error
  CHANGELOG.md
  src/audible_cli/cmds/cmd_download.py
  tests/test_cover_sizes.py
Due: ruff-format, ruff-check

fix: a missing cover size is a warning, not an error (#300)
  CHANGELOG.md
  src/audible_cli/cmds/cmd_download.py
  tests/test_cover_sizes.py
Due: ruff-format, ruff-check

docs: shorten the changelog entries and link their pull requests
  CHANGELOG.md
Due: none

docs: shorten the changelog entries and link their pull requests (#301)
  CHANGELOG.md
Due: none

docs: tighten the comments on _finished_downloads
  CHANGELOG.md
  src/audible_cli/cmds/cmd_download.py
  tests/test_finished_downloads.py
Due: ruff-format, ruff-check

docs: tighten the comments on _finished_downloads (#299)
  CHANGELOG.md
  src/audible_cli/cmds/cmd_download.py
  tests/test_finished_downloads.py
Due: ruff-format, ruff-check

feat: keep the progress bars on their own line
  CHANGELOG.md
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/downloader.py
  src/audible_cli/progress.py
  src/audible_cli/utils.py
  tests/test_download_queue.py
  tests/test_progress.py
Due: ruff-format, ruff-check

fix: keep the dock through a resize instead of standing it down
  CHANGELOG.md
  src/audible_cli/progress.py
  tests/test_progress.py
Due: ruff-format, ruff-check

fix: close the resize races a review turned up
  src/audible_cli/progress.py
  tests/test_progress.py
Due: ruff-format, ruff-check

fix: fit the title to the width there is
  src/audible_cli/progress.py
  tests/test_progress.py
Due: ruff-format, ruff-check

feat: keep the running total when the rows do not all fit
  src/audible_cli/progress.py
  tests/test_progress.py
Due: ruff-format, ruff-check

feat: set the dock off from the output with a rule
  src/audible_cli/progress.py
  tests/test_progress.py
Due: ruff-format, ruff-check

fix: stop cutting the running total mid-number
  src/audible_cli/progress.py
  tests/test_progress.py
Due: ruff-format, ruff-check

docs: note the dock's new behaviour in the changelog
  CHANGELOG.md
Due: none

fix: stop the rebuild from pushing the old rows up the screen
  src/audible_cli/progress.py
  tests/test_progress.py
Due: ruff-format, ruff-check

fix: three things a screenshot from a phone showed
  src/audible_cli/downloader.py
  src/audible_cli/progress.py
  tests/test_progress.py
Due: ruff-format, ruff-check

feat: make the dock the only way progress is shown
  src/audible_cli/downloader.py
  src/audible_cli/progress.py
  tests/test_progress.py
Due: ruff-format, ruff-check

fix: draw a row and write a log line one after the other
  src/audible_cli/_logging.py
  src/audible_cli/_terminal.py
  src/audible_cli/progress.py
  tests/test_terminal.py
Due: ruff-format, ruff-check

fix: clear what a rewrapped dock leaves behind
  src/audible_cli/progress.py
Due: ruff-format, ruff-check

fix: leave the last column free so rows cannot glue together
  src/audible_cli/progress.py
  tests/test_progress.py
Due: ruff-format, ruff-check

fix: stop clearing lines the dock never wrote
  src/audible_cli/progress.py
  tests/test_progress.py
Due: ruff-format, ruff-check

fix: never clear a line the dock does not own
  src/audible_cli/progress.py
  tests/test_progress.py
Due: ruff-format, ruff-check

refactor: drop the shared write lock, which guarded nothing
  src/audible_cli/_logging.py
  src/audible_cli/_terminal.py
  src/audible_cli/progress.py
  src/audible_cli/utils.py
  tests/test_progress.py
  tests/test_terminal.py
Due: ruff-format, ruff-check
