Repository mkb79/audible-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, check-toml, check-yaml, ruff-check

ruff-format:
  name: ruff format
  entry: ruff format
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ruff-check:
  name: ruff check
  entry: ruff check
  language: system
  require_serial: true

Add `logs` command and enhance sync log handling
  src/audible_cli/cmds/cmd_db.py
  src/audible_cli/db/async_db_library.py
Due: ruff-format, ruff-check

Switch to status-based logic for soft-deletion in library sync
  src/audible_cli/db/async_db_library.py
Due: ruff-format, ruff-check

Add page_size_option with legacy bunch_size support
  src/audible_cli/decorators.py
Due: ruff-format, ruff-check

Update CHANGELOG with new and deprecated options
  CHANGELOG.md
Due: none

Refactor bunch size option (#241)
  CHANGELOG.md
  src/audible_cli/decorators.py
Due: ruff-format, ruff-check

Reorganize and modularize database commands
  src/audible_cli/cmds/__init__.py
  src/audible_cli/cmds/db_cmds/__init__.py
  src/audible_cli/cmds/db_cmds/cmd_assets.py
  src/audible_cli/cmds/db_cmds/cmd_library.py
  src/audible_cli/db/__init__.py
  src/audible_cli/db/async_db_assets.py
  src/audible_cli/db/async_db_library.py
  src/audible_cli/db/common.py
Due: ruff-format, ruff-check

Change README
  DESCRIPTION.md
  README.md
  assets/banner-1536x384.png
  assets/logo-500x500.png
  pyproject.toml
Due: check-toml

Update README with simplified image markup
  README.md
Due: none

Update license section in README.md
  README.md
Due: none

Update README with additional install info
  README.md
Due: none

update README.md
  README.md
Due: none

Regenerate uv.lock
  uv.lock
Due: none

Rework README (#243)
  DESCRIPTION.md
  README.md
  assets/banner-1536x384.png
  assets/logo-500x500.png
  pyproject.toml
  uv.lock
Due: check-toml

Refactor database path handling across commands
  src/audible_cli/cmds/db_cmds/cmd_assets.py
  src/audible_cli/cmds/db_cmds/cmd_library.py
  src/audible_cli/config.py
Due: ruff-format, ruff-check

implemented new method of constructing url for annotations
  src/audible_cli/models.py
Due: ruff-format, ruff-check

Update file path type in wishlist export command #219 (#220)
  src/audible_cli/cmds/cmd_wishlist.py
Due: ruff-format, ruff-check

Add JSON output option to cmd_inspect function
  src/audible_cli/cmds/db_cmds/cmd_library.py
Due: ruff-format, ruff-check

Add autocommit option to log_download_async function
  src/audible_cli/cmds/db_cmds/cmd_assets.py
  src/audible_cli/db/async_db_assets.py
Due: ruff-format, ruff-check

Improve error message when no download format specified
  src/audible_cli/cmds/cmd_download.py
Due: ruff-format, ruff-check

Fix typos, grammar, and improve error messages in download command
  src/audible_cli/cmds/cmd_download.py
Due: ruff-format, ruff-check

Explicit error message (#251)
  src/audible_cli/cmds/cmd_download.py
Due: ruff-format, ruff-check

Shell Completion: Fix fish completion
  utils/code_completion/audible-complete-fish.sh
  utils/code_completion/audible-complete-zsh-fish.sh
  utils/code_completion/audible-complete-zsh.sh
Due: none

docs: Update Click shell completion documentation link
  utils/code_completion/README.md
Due: none

Shell Completion: Fix fish completion (#252)
  utils/code_completion/README.md
  utils/code_completion/audible-complete-fish.sh
  utils/code_completion/audible-complete-zsh-fish.sh
  utils/code_completion/audible-complete-zsh.sh
Due: none

docs: announce audible-rs (Rust rewrite) and call for testers
  README.md
Due: none

docs: announce audible-rs (Rust rewrite) and call for testers (#261)
  README.md
Due: none

docs: point testers to audible-rs Discussions for feedback
  README.md
Due: none

docs: point testers to audible-rs Discussions for feedback (#262)
  README.md
Due: none

Modernize dependencies and bundle cryptography in release binaries
  .github/workflows/build.yml
  .github/workflows/pypi-publish-test.yml
  .github/workflows/pypi-publish.yml
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml

Add CHANGELOG entry for audio/mp4 download fix
  CHANGELOG.md
Due: none

Allow audio/mp4 downloads (#255)
  CHANGELOG.md
  src/audible_cli/cmds/cmd_download.py
Due: ruff-format, ruff-check

feat!: bundle cryptography in release binaries and modernize deps (#263)
  .github/workflows/build.yml
  .github/workflows/pypi-publish-test.yml
  .github/workflows/pypi-publish.yml
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml

Release version 0.4.0.
  CHANGELOG.md
  pyproject.toml
  src/audible_cli/_version.py
  uv.lock
Due: ruff-format, check-toml, ruff-check

docs: mention cryptography extra in PyPI description
  DESCRIPTION.md
Due: none

fix: accept API timestamps with and without fractional seconds
  CHANGELOG.md
  plugin_cmds/cmd_goodreads-transform.py
  src/audible_cli/exceptions.py
  src/audible_cli/models.py
  src/audible_cli/utils.py
Due: ruff-format, ruff-check

fix: accept API timestamps with and without fractional seconds (#265)
  CHANGELOG.md
  plugin_cmds/cmd_goodreads-transform.py
  src/audible_cli/exceptions.py
  src/audible_cli/models.py
  src/audible_cli/utils.py
Due: ruff-format, ruff-check

refactor!: make all API and download datetimes timezone-aware UTC
  CHANGELOG.md
  plugin_cmds/cmd_goodreads-transform.py
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/exceptions.py
  src/audible_cli/models.py
  src/audible_cli/utils.py
Due: ruff-format, ruff-check

refactor!: make all API and download datetimes timezone-aware UTC (#266)
  CHANGELOG.md
  plugin_cmds/cmd_goodreads-transform.py
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/exceptions.py
  src/audible_cli/models.py
  src/audible_cli/utils.py
Due: ruff-format, ruff-check

fix: handle missing and null fields in API responses
  CHANGELOG.md
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/exceptions.py
  src/audible_cli/models.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff-check: any of: \.py$
