Repository mkb79/audible-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, check-toml, check-yaml, ruff-check

ruff-format:
  name: ruff format
  entry: ruff format
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ruff-check:
  name: ruff check
  entry: ruff check
  language: system
  require_serial: true

docs: say what the code does, not how it came about
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/progress.py
  tests/test_progress.py
Due: ruff-format, ruff-check

docs: note that the resize limit is where every library of this kind stops
  src/audible_cli/progress.py
Due: ruff-format, ruff-check

docs: say what the progress display does and where it stops
  README.md
Due: none

docs: link the changelog entries to their pull request
  CHANGELOG.md
Due: none

test: let the patched terminal size take the keyword the real one does
  tests/test_progress.py
Due: ruff-format, ruff-check

test: give the dock tests a TERM instead of inheriting one
  tests/test_progress.py
Due: ruff-format, ruff-check

fix: cover every saved cursor, and claim only the signals it has
  src/audible_cli/progress.py
  tests/test_progress.py
Due: ruff-format, ruff-check

fix: five things an unprompted review found
  src/audible_cli/progress.py
  tests/test_progress.py
Due: ruff-format, ruff-check

docs: say in the docstring what a caller gets when the row is hidden
  src/audible_cli/progress.py
  tests/test_progress.py
Due: ruff-format, ruff-check

docs: add GitHub Actions / CI example
  CHANGELOG.md
  README.md
Due: none

docs: fix CI example config-dir and add auth-file setup steps
  README.md
Due: none

docs: simplify CI section wording for first-time readers
  README.md
Due: none

docs: note AUDIBLE_COUNTRY_CODE is your own marketplace
  README.md
Due: none

feat: keep the progress bars on their own line (#302)
  CHANGELOG.md
  README.md
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/downloader.py
  src/audible_cli/progress.py
  src/audible_cli/utils.py
  tests/test_download_queue.py
  tests/test_progress.py
Due: ruff-format, ruff-check

fix: take every parent podcast out of the library, not every second one
  CHANGELOG.md
  src/audible_cli/cmds/cmd_download.py
  tests/test_resolve_podcasts.py
Due: ruff-format, ruff-check

docs: link the changelog entry to its pull request
  CHANGELOG.md
Due: none

test: prove the episodes are queued, not just that no show is left
  tests/test_resolve_podcasts.py
Due: ruff-format, ruff-check

refactor: let the caller say whether the shows should go
  CHANGELOG.md
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/models.py
  tests/test_resolve_podcasts.py
Due: ruff-format, ruff-check

refactor: give Catalog the same switch, from one shared body
  CHANGELOG.md
  src/audible_cli/models.py
  tests/test_resolve_podcasts.py
Due: ruff-format, ruff-check

docs: use the setup-audible-cli action for the CI example
  CHANGELOG.md
  README.md
Due: none

fix: make the deprecated resolve_podcats do what it forwards to
  CHANGELOG.md
  src/audible_cli/models.py
  tests/test_resolve_podcasts.py
Due: ruff-format, ruff-check

docs: simplify the CI secret setup for a first-time reader
  README.md
Due: none

docs: add GitHub Actions / CI example (#304)
  CHANGELOG.md
  README.md
Due: none

fix: send log output to stderr, where diagnostics belong
  pyproject.toml
  src/audible_cli/_logging.py
  src/audible_cli/plugins.py
  tests/test_logging.py
  tests/test_progress.py
Due: ruff-format, check-toml, ruff-check

fix: finish moving the narration off stdout
  src/audible_cli/cli.py
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/cmds/cmd_manage.py
  src/audible_cli/decorators.py
  tests/test_cmd_manage.py
  tests/test_logging.py
Due: ruff-format, ruff-check

fix: put the last narrations on the diagnostic channel
  src/audible_cli/cmds/cmd_quickstart.py
  src/audible_cli/config.py
  src/audible_cli/decorators.py
  src/audible_cli/plugins.py
  src/audible_cli/utils.py
  tests/test_output_channels.py
Due: ruff-format, ruff-check

docs: note the stream change in the changelog
  CHANGELOG.md
Due: none

fix: hold the whole conversation on the diagnostic channel
  src/audible_cli/_dialog.py
  src/audible_cli/cmds/cmd_download.py
  src/audible_cli/cmds/cmd_quickstart.py
  src/audible_cli/cmds/cmd_wishlist.py
  src/audible_cli/config.py
  src/audible_cli/utils.py
  tests/test_output_channels.py
Due: ruff-format, ruff-check

docs: note the dialogue move in the changelog
  CHANGELOG.md
Due: none

build: declare prompt_toolkit, which `_dialog` imports
  pyproject.toml
  uv.lock
Due: check-toml

test: pin the selection output to the diagnostic stream
  tests/test_output_channels.py
Due: ruff-format, ruff-check

fix: bring our own callbacks for the last two login questions
  src/audible_cli/utils.py
  tests/test_output_channels.py
Due: ruff-format, ruff-check

fix: teach the bundled plugins the same rule
  plugin_cmds/cmd_decrypt.py
  plugin_cmds/cmd_get-annotations.py
  plugin_cmds/convert_oa_cred.py
Due: ruff-format, ruff-check

fix: bring click's own option prompts onto the conversation channel
  CHANGELOG.md
  README.md
  src/audible_cli/_dialog.py
  src/audible_cli/_logging.py
  src/audible_cli/cmds/cmd_manage.py
  src/audible_cli/plugins.py
  tests/test_logging.py
  tests/test_output_channels.py
  utils/update_chapter_titles.py
Due: ruff-format, ruff-check

docs: shorten the comments, and correct three that were wrong
  plugin_cmds/cmd_get-annotations.py
  pyproject.toml
  src/audible_cli/_dialog.py
  src/audible_cli/_logging.py
  src/audible_cli/cmds/cmd_manage.py
  src/audible_cli/config.py
  src/audible_cli/decorators.py
  src/audible_cli/plugins.py
  src/audible_cli/utils.py
  tests/test_cmd_manage.py
  tests/test_logging.py
  tests/test_output_channels.py
Due: ruff-format, check-toml, ruff-check

test: keep the suite away from the real config directory
  tests/conftest.py
Due: ruff-format, ruff-check

docs: move the explanations out of the code and into the docstrings
  README.md
  src/audible_cli/_dialog.py
  src/audible_cli/_logging.py
  src/audible_cli/cmds/cmd_manage.py
  src/audible_cli/config.py
  src/audible_cli/decorators.py
Due: ruff-format, ruff-check

refactor: let the version notice go through `say`
  src/audible_cli/decorators.py
Due: ruff-format, ruff-check

refactor: close the handlers we detach
  src/audible_cli/_logging.py
  tests/test_logging.py
Due: ruff-format, ruff-check

fix: let `--version` answer even when the update check fails
  src/audible_cli/decorators.py
  tests/test_version_option.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff-check: any of: \.py$
